{#
  This file is part of FUJIN-P.
  SPDX-FileCopyrightText: 2024-2026 Toyoaki Nishida
  SPDX-License-Identifier: AGPL-3.0-or-later
  Source: https://github.com/nishida-toyoaki/fujin-p
#}

<h2>フォルダ内容</h2>
<ul>
    {% for child in children %}
        <li>
            {% if child.タイプ == 'フォルダ' %}
                📁
            {% else %}
                📄
            {% endif %}
            <a href="{{ url_for('trial_user.view_note', note_id=child.id) }}">{{ child.名前 }}</a>
        </li>
    {% endfor %}
</ul>